<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Test AAS Suite">

	<listeners>
		<listener class-name="AASTestCase.ExtentReportListener.ExtentReportListenerNG" />
	</listeners>
	
	
	<test name = "Test AAS Demo">
		<packages>
			<package name = "AASTestCase.MavenTest.*" />
		</packages>
	</test>

</suite>